/*====================================*/
/* RESET CSS */
/*====================================*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Inter", serif;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html{
    scroll-behavior: smooth;
  }
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-size:18px;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
  scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*====================================*/
/* Custom properties*/
/*====================================*/
:root{
    --background: rgba(17, 17, 17, 0.8);
    --background-green: rgb(30, 94, 94, 0.8);
    --background-red:rgb(240, 129, 114, 0.8);
    --background-red-fcea:#F08172;
    --slide-background: #E7E1DD;
    --background-blue: #343C62;
    --background-blue-steel: #51557B;
    --background-grey: #E7E1DD;
    --padding-slide: 1.2rem;
    --font-size-small: 14px;
    --font-size-big: 18px;
}


/*====================================*/
/* Utility classes */
/*====================================*/

/*general*/

a{
  color:var(--background-grey);
}

.flex{
    display: flex;
    gap: var(--gap,1rem);
}

.flex-buttons{
  align-items: center;
  justify-content: space-around;
}

.grid{
    display:grid;
    gap: var(--gap,1rem);
}
.dos-columnas{
    position: relative; /* Mantenerlo en la estructura */
    z-index: 2; /* Asegurar que esté por encima de los acordeones */
    display: flex; /* Asegurar que no colapse */
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}

.container{
    padding-inline: 2em;
    margin-inline: auto;
    max-width: 90rem;
}
.container-blue{
  background-color: var(--background-blue);
  color:#fff;
  padding:1rem;
}
.sr-only{
    position:absolute;
    width:1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0 ,0);
    white-space: nowrap;
    border:0;
}

.texto-blanco{
  color:#fff;
}

.texto-azul{
  color:var(--background-blue);
  text-align: left;
}

.button{
  position: relative;
  cursor:pointer;
  top:50%;
  background-color:#51557B;
  color: #fff;
  border:none; 
  border-radius:10px; 
  text-align: center;
  padding:15px;
  min-height:30px; 
  min-width: 120px;
}

.button:active{
  background-color: var(--slide-background);
  color:var(--background-blue);
}

.red{
  background-color: var(--background-red-fcea);
}

.fade {
  opacity: 0;
  visibility: hidden;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.6s ease-in-out, max-height 0.6s ease-in-out, visibility 0.6s ease-in-out;
}

.fade.show {
  opacity: 1;
  visibility: visible;
  max-height: 1000px; /* Ajusta según el contenido esperado */
}

/*=====================================================================*/


/*Navbar*/

.logo{
    max-width:200px;
    padding: 1.2rem 0 1.2rem 1.2rem;
}

header{
    background: var(--background-blue);
    text-align: center;
    position:fixed;
    height: 80px;
    width:100%;
    z-index: 100;
}

nav{
    position:absolute;
    text-align: right;
    top:100%;
    right:0;
    background: var(--background-blue);
    width:100%;
    transform:scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul{
    margin:0;
    padding:0;
    list-style: none;
}

nav li{
    margin-bottom: 1em;
    margin-right: 1em;
}

nav a{
    color:#fff;
    text-decoration: none;
    font-size: 1.15rem;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover{
    color:rgb(102, 3, 0);
}

.nav-toggle{
    display:none;
}

.nav-toggle-label{
    position:absolute;
    top:0;
    right:1rem;
    margin-right:1em;   
    height: 100%;
    display:flex;
    align-items: center; 
}

.barra{
    font-size: 38px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}

.nav-toggle:checked ~ nav {
    transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a{
    opacity:1;
    transition: opacity 250ms ease-in-out 250ms;
}

header.scrolled{
    background-color: #f08172 !important;
    transition: background-color 200ms linear;
}

/*=fin navbar=*/
/*=======acordeón blanco===========*/
.acordeon{
  position:relative;
  display:block;
  overflow:visible;
  margin-top:4rem;
}

.acordeon__titulo{
  padding-bottom: .4rem;
  margin:0 1rem 0 1rem;
  cursor: pointer;
  position: relative;
  user-select: none;
  color:var(--background-blue);
  transition: 0.5s;
  font-weight: 800;
}

.acordeon__titulo:after{
  content:"›";
  display:block;
  float:right;
  right:.8rem;
  top:50%;
  font-size:40px;
  font-weight: bold;
  transform:translateY(-60%);
}

.acordeon__titulo.active::after {
  transform: rotate(90deg);
}

.acordeon__contenido{
  width:100%;
  line-height: 1.5rem;
  height: 0;
  transition: height 0.5s ease-out;
  overflow:hidden;
  box-sizing: border-box;
  background-color: var(--background-blue);
  color: #fff;
  border-radius: 0 0 10px 10px;
}

.acordeon-interno{
  background-color: var(--background-grey)!important;
  text-align: left;
  border: 1px solid #fff;
  border-radius: 10px;
}

.texto-padding{
  padding:1.5rem;
}

.acordeon__contenido.color{
  border: 1px solid #CCC2AF;
}

.acordeon__wrapper{
  padding:2em;
}

.acordeon--activo{
  height: auto;
}

.acordeon--activo .acordeon__titulo:after{
  content:'-';
}

.lista-letras{
  list-style-type: lower-latin;
}

.acordeon__contenido ul{
margin-left:2em;
}

.color{
  background-color: #fbdad3;
}

.color-borde{
  border:1px solid #CCC2AF;
}
/*========================================================*/

/*=====================acordeón azul=========================*/

.azul{
  font-size:var(--font-size-small);
  padding: 1rem;
  border-bottom: 1px solid #CCC2AF;
  cursor: pointer;
  position: relative;
  user-select: none;
  color:#fff;
  transition: 0.5s;
  border-radius: 0 0 10px 10px;
  background-color: #51557B;
}

.contenedor-gris{
  background-color: var(--background-grey);
}

.acordeon__contenido-azul{
  line-height: 1.5rem;
  height: 0;
  transition: height 0.5s ease-out;
  box-sizing: border-box;
  border-bottom: 1px solid #CCC2AF;
  background-color: var(--background-blue);
  color: #fff;
  border-radius: 0 0 10px 10px;
}

/*===========================================================*/

.carousel-container {
  display: flex;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  width: 90vw;
  height: calc(100vh - 30px); /* La mitad de la pantalla menos la mitad del navbar */
  padding-top: 90px; /* Mismo espacio que el navbar */
  padding-bottom: 20px; /* Para equilibrar visualmente */
  color:var(--background-blue);
}

.carousel-slide{
  width: 90vw;
  height: auto;
  margin: 0 auto;
  background-color: var(--slide-background);
  overflow-y: auto;
  border-radius: 10px;
}

.carousel-track {
  display: flex;
  transition: transform 0.3s ease-in-out;
  will-change: transform;
}

.carousel-controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  pointer-events: none;
}

.carousel-button {
  color: var(--background-blue);
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 2rem;
  border-radius: 4px;
  background-color: rgba(231, 225, 221, 0.5);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  pointer-events: all;
}

.carousel-button:hover {
  background-color: rgba(231, 225, 221, 0.7); /* Más sólido al hacer hover */
    transform: scale(1.05); /* Pequeño efecto de agrandamiento */
}

.slide__header{
  display:flex;
  margin:1rem;
}

.indice{
  font-size: 4rem;
  font-weight: bold;
  margin-right: .3rem;
}

.imagen-indice{
  width:100%;
}

.titulo-2, .titulo-3{
  font-size: 1.7rem;
  font-weight: 600;
  margin-right: .5rem;
}

.titulo-1{
  font-size:1.6rem;
  font-weight: 600;
  margin:1rem;
}

.slide__content{
  margin-top:3rem;
}


/*===================Grid tables bloques horarios=====================*/

.grid-table-horarios{
  display:grid;
  grid-template-columns: repeat(5, 1fr);
  border-top:1px solid black;
  border-right: 1px solid black;
  overflow: auto;
}
.grid-table-horarios-4c{
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  border-top:1px solid black;
  border-right: 1px solid black;
  overflow: auto;
}

.grid-table-horarios-4c > span{
  padding: 4px 2px;
  border-left:1px solid black;
  border-bottom: 1px solid black;
}

.grid-table-horarios > span{
  padding: 4px 2px;
  border-left:1px solid black;
  border-bottom: 1px solid black;
}

.grid-table{
  display:grid;
  grid-template-columns: repeat(6, 1fr);
  border-top:1px solid black;
  border-right: 1px solid black;
  overflow: auto;
}
.grid-item{
  padding: 4px 2px;
  border-left:1px solid black;
  border-bottom: 1px solid black;
}
.grid-table > span{
  padding: 4px 2px;
  border-left:1px solid black;
  border-bottom: 1px solid black;
}

.table-head{
  background: #f08172;
  color: #fff;
  font-weight: bold;
}

.table-head-2{
  background: #43917B;
  color:#fff;
  font-weight: bold;
}

.table-head-3{
  background: #694D7C;
  color:#fff;
  font-weight: bold;
}


/*================================================================*/
/*=============================PIQUES=============================*/
.piques{
  position: relative;
  flex-direction: column;
  max-width: 95vw;
  height: 80vh;
  justify-content: center;
  margin: 0 auto;
  top: 5rem;
  color: #fff;
  border-radius: 10px;
  padding-top:80px;
}

.opciones{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.2rem;
  padding:.5rem;
  font-size:14px;
}

.boton-pique{
  border: 1px solid #fff;
  padding: .6rem;
  border-radius: 10px;
  cursor: pointer;
}

.opcion-1, .opcion-2, .opcion-3, .opcion-4, .opcion-5, .opcion-6, .opcion-7, .opcion-8, .opcion-9, .opcion-10, .opcion-11, .opcion-12, .opcion-13, .opcion-14, .opcion-15{
  position: relative;
  flex-direction: column;
  max-width: 95vw;
  margin: 0 auto;
  justify-content: center;
  padding:1.2rem;
  top: 5rem;
  color: #fff;
  border-radius: 10px;
  background-color: #C35E50;
}

.boton-pique.active {
  background-color: #C35E50; /* Color al estar activo */
  border: #C35E50;
  color: white;
}

/* 🔹 Mover 'contenido-opciones' hacia arriba cuando hay un contenido activo */
.contenido-opciones.active {
 /* Ajusta el valor según el espacio que necesites */
  transition: margin-top 0.5s ease;
}

.contenido-opciones{
  margin-top:4rem;
}

/* Ocultar las opciones por defecto */
.contenido-opciones > div {
  display: none;
  opacity: 0;
  transform: translateY(10px); /* Pequeño desplazamiento inicial */
  transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Asegurarse de que las opciones visibles se muestren */
.contenido-opciones > div:target,
.contenido-opciones > div.active {
  display: block;
  opacity: 1;
    transform: translateY(0);
}

.boton-flotante {
  position: fixed;
  bottom: 20px; /* Distancia desde el borde inferior */
  right: 20px; /* Distancia desde el borde derecho */
  z-index: 1000; /* Para asegurarse de que esté sobre otros elementos */
  background-color: #343C62; /* Color de fondo */
  color: #fff; /* Color del texto o ícono */
  border: none;
  border-radius: 50%; /* Botón redondo */
  width: 50px;
  height: 50px;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  display: none; /* Oculto por defecto */
  justify-content: center;
  align-items: center;
}

.boton-flotante:hover {
  background-color: #51557B; /* Color al pasar el mouse */
}

/*==========================CARRERAS=============================*/
.carreras{
  display:flex;
  flex-direction: column;
  max-width: 95vw;
  height: auto;
  justify-content: center;
  margin: 0 auto;
  color: #fff;
  border-radius: 10px;
  padding-top:6rem;
  padding-bottom:2rem;
  overflow-x: hidden;
}

.montevideo{
  padding:1.5rem;
  background-color: var(--background-blue);
  height:50%;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
  cursor:pointer;
}

.regionales{
  padding:1.5rem;
  background-color: var(--slide-background);
  color:var(--background-blue);
  height: 55%;
  transition: all 0.5s ease-in-out;
  border-radius: 10px;
  cursor:pointer;
}

.reducido{
  padding:1rem;
  height: 20%;
  font-size: .5rem;
  transition: width 0.5s ease-in-out, padding 0.5s ease-in-out;
}

.carreras-montevideo{
  display:none;
  padding-top:3rem;
  max-height: 0;
  width:100%;
  overflow: auto;
  opacity:0;
  background-color: var(--background-blue);
  color:#fff;
  transition: opacity 0.5s ease-in-out, max-height 0.5s ease-in-out;
  padding:1.2rem;
  border-radius: 0 0 10px 10px;
}
.carreras-interior{
  display:none;
  max-height: 0;
  width:100%;
  overflow: auto;
  opacity:0;
  background-color: var(--slide-background);
  color: var(--background-blue);
  transition: opacity 0.5s ease-in-out, max-height 0.5s ease-in-out;
  padding: 1.2rem;
  border-radius: 0 0 10px 10px;
}

.carreras-montevideo.show, .carreras-interior.show {
  display:block;
  opacity: 1;
  max-height: 800px;
  margin-top: -5px;
  overflow-x: hidden;
}

.carreras-montevideo-content, .carreras-interior-content {
  transition: height 0.5s ease-in-out;
  padding-top:3rem;
  overflow-x: hidden;
}

.botones-opciones{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: .4rem;
  text-align: center;
  font-size: 14px;
  cursor:pointer;
  overflow-x: hidden;
}

.carrera-1M, .carrera-2M, .carrera-3M, .carrera-4M, .carrera-5M, .carrera-6M{
  padding: .5rem;
  border: 1px solid var(--background-blue-steel);
  background-color: var(--background-blue-steel);
  border-radius: 10px;
}
/* Estilo cuando se selecciona una opción en Montevideo */
.carreras-montevideo .botones-opciones div.selected {
  background-color: #343C62; /* Color seleccionado en Montevideo */
  color: #fff;
  border: 1px solid #fff;
  
}

/* Estilo cuando se selecciona una opción en Regionales */
.carreras-interior .botones-opciones div.selected {
  background-color: #E7E1DD; /* Color seleccionado en Regionales */
  color: #343C62;
  border: 1px solid #343C62;
}

/* Estilo cuando se pasa el mouse (igual para ambos) */
.botones-opciones div:hover {
  background-color: #51557B;
  color: #fff;
}

.carrera-1I, .carrera-2I, .carrera-3I{
  padding: .5rem;
  border: 1px solid var(--background-blue);
  background-color: var(--background-blue);
  color:#fff;
  border-radius: 10px;
}
/* Ocultar todas las opciones dentro de carreras-montevideo-content y carreras-interior-content */
.carreras-montevideo-content > div,
.carreras-interior-content > div {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: 100%;
  transition: opacity 0.5s ease-in-out;
  border-radius: 10px;
  overflow-x: hidden;
}

/* Evitar que los divs ocultos causen problemas de scroll */
.carreras-montevideo-content > div:not(.show),
.carreras-interior-content > div:not(.show) {
    max-width: 0;
    max-height: 0;
    overflow: hidden;
}

/* Mostrar solo la opción seleccionada */
.carreras-montevideo-content > div.show,
.carreras-interior-content > div.show {
  opacity: 1;
  visibility: visible;
  overflow-x: hidden;
  position: relative;
}
/*=================================================================*/
/*=================================================================*/
/* Media query para pantallas grandes (desktop) */
@media (min-width: 768px) {
  header{
  display:flex;
  align-items: center;
  justify-content: space-between;
}

nav{
  all: unset;
  display:flex;
  
  align-items: center;
}

nav ul{
    display:flex;
    align-items: center;
}

nav li{
    margin-left:3em;
    margin-bottom: 0;
}

nav a{
    opacity:1;
}
.logo{
  max-width: 100%;
}
.nav-toggle-label{
  display:none;
}
/*==Carousel==*/
.carousel-container{
  width:95vw;
}
  .carousel-slide{
    width:95vw;
    display:grid;
    grid-template-columns: 1fr 1fr 2.5fr;
  }
  .slide__header{
    flex-direction: column;
  }
  .titulo-desktop{
    display:flex;
  }
  .indice{
    font-size: 12rem;
  }
  .titulo{
    display:flex;
    flex-direction: column;
    justify-content: center;
  }
  .row-titulo{
    display:flex;
    flex-direction: row;
  }
  .titulo-2{
    font-size:2.6rem;
  }
  .imagen-indice{
    display: flex;
    justify-content: center;
  }
  .imagen-slide{
    height: 14rem;
  }
  

  .acordeon__titulo {
    cursor: pointer;
    font-weight: bold;
    font-size:1.2rem;
    padding: 0.8rem;
    color: var(--background-blue);
    margin: 0.5rem 0;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

  .acordeon__titulo::after{
    display:none;
  }

  .contenido-dinamico {
    border: 1px solid #ccc;
    background-color: var(--background-blue);
    color:var(--slide-background);
    padding: 1rem;
    border-radius: 5px;
    min-height: 200px; /* Asegura espacio para el contenido */
    overflow: auto; /* Manejar contenido largo */
}

  .acordeon__contenido {
    overflow: hidden;
    height: 0;
    transition: height 0.3s ease-out;
    background-color: var(--slide-background);
    padding: 0 0.8rem;
    border-radius: 0 0 4px 4px;
}
.acordeon__contenido p {
  margin: 0.5rem 0;
}

  .acordeon__titulo.active {
    background-color: var(--slide-background);
    color: #CCC2AF;
}
  .acordeon__contenido.active {
    display: block;
  }

  .carousel-slide .slide__content {
    display: flex;
    flex-direction: column;
  }

  .carousel-slide .acordeon {
    flex-direction: row;
    gap: 1rem;
    align-items: flex-start;
    text-align: right;
  }

    .carousel-slide .acordeon__titulo {
        flex: 1;
    }
  /* Estilos generales para acordeones anidados */
  .contenido-dinamico .acordeon__titulo {
    cursor: pointer;
    font-weight: bold;
    padding: 0.8rem;
    background-color: var(--background-blue);
    color: white;
    margin: 0.5rem 0;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }

  .contenido-dinamico .acordeon__titulo.active {
    background-color: var(--slide-background);
    color: var(--background-blue);
  }

  .contenido-dinamico .acordeon__contenido {
    overflow: hidden;
    height: 0;
    transition: height 0.3s ease-out;
    background-color: var(--slide-background);
    border-radius: 0 0 4px 4px;
    padding: 0 0.8rem;
  }

  .contenido-dinamico .acordeon__contenido.active {
    height: auto;
  }

  /*====PIQUES====*/
  .piques{
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2rem;
  }
  .opciones{
    font-size:16px;
  }

  .titulo-3{
    font-size:3.5rem;
  }
  /*CARRERAS*/
  .carreras {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    width: 90%;
    margin: auto;
    transition: all 0.5s ease-in-out;
}

.montevideo, .regionales {
    width: 50%;
    height: auto;
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    transition: all 0.5s ease-in-out;
}

/* Se achican con una transición suave */
.montevideo.reducido, .regionales.reducido {
    width: 25%;
    padding: 1rem;
    font-size: 1rem;
    transition: width 0.5s ease-in-out, padding 0.5s ease-in-out;
}

/* Transición de altura más fluida */
.indice {
    max-height: 200px; /* Mantener una altura inicial */
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.indice.oculto {
    max-height: 0; /* Reducir altura sin desaparecer de golpe */
    opacity: 0;
}

/* Expandir el contenido de carreras con altura suave */
.carreras-montevideo, .carreras-interior {
    display: none;
    opacity: 0;
    max-height: 0;
    transition: opacity 0.5s ease-in-out, max-height 0.5s ease-in-out;
}

.carreras-montevideo.show, .carreras-interior.show {
    display: block;
    opacity: 1;
    max-height: 1000px; /* Se expande gradualmente */
}
.video-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  cursor: pointer;
}
/*VIDEO INTRO*/

}
